* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 50%;
  max-width: 700px;
  min-width: 500px;
  margin: 0 auto;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}